---
import General from "../layouts/General.astro";
import AddButton from "../components/AddButton.astro";

// constants
const URL = "http://localhost:3000/api";

// if is not cookie redirect
if (!Astro.cookies.has("token")) {
  return Astro.redirect("/");
}

// to prepare security of fetchs and send a header with cookie
const token = Astro.cookies.get("token").value;

// fetch to refresh the page and check if cookie is valid
let invalidToken = false
const refresh = await fetch(`${URL}/refresh`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${token}`,
  },
})
  .then((res) => res.json())
  .then((res) => {
    if(res.error) invalidToken = true
  })
  .catch((err) => console.error(err));
  // if invalid token then redirect
  if(invalidToken){
    return Astro.redirect('/')
  }



// fetch to get all images
let allImages = [];
const responseAllImages = await fetch(`${URL}/allImages`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${token}`,
  },
})
  .then((res) => res.json())
  .then((res) => {
    allImages = res.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
  })
  .catch((err) => console.error(err));

// fetch all users
let allUsers;
const responseAllUsers = await fetch(`${URL}/allUsers`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${token}`,
  },
})
  .then((res) => res.json())
  .then((res) => {
    allUsers = res;
  })
  .catch((err) => console.error(err));

  // this is a func helper for making hashtags clickable
  function shiftHashtag(hashtag){
    const array = hashtag.split('')
    array.shift() 
    const str = array.join('')
    return str
  }


---

<General>
  <!-- lista de posts -->
  <ul class="w-11/12 mx-auto mt-28">
    {
      allImages.map((post) => (
        <li class=" h-[600px] flex flex-col justify-end my-7 bg-[#2f3138] rounded-lg shadow-xl">
          <div class=" flex-grow shrink-0">
            <div class="w-full h-full rounded-lg relative">
              <img  class="absolute inset-0 object-fit size-full rounded-t-lg " src={`http://localhost:3000/uploads/resized/${post.filename}`} /> 
              </div>
            </div>
          <div class="min-h-24 py-2 px-3">
            <a href={`/users/${post.userId}`}
            class="text-lg font-medium" >{allUsers.find((user) => user.id === post.userId).name}</a>
            <div class="text-[15px] truncate line-clamp-2 text-wrap" >{
              post.hashtags.split(' ').map(word => word.includes('#') ? <a class="text-[#8e5cf5] text-medium" href={`/hashtags/${(word ? shiftHashtag(word) : '')}`}>{word + ' '}</a> : word + ' ')
            }</div>
          </div>
        </li>
      ))
    }
  </ul>

  <!-- nuevo post -->
  <AddButton />
</General>
