---
import General from "../layouts/General.astro";
import AddButton from '../components/AddButton.astro'
// constants
const URL = "http://localhost:3000/api";

// fetch to refresh the page and check if cookie is valid
// at the moment i cant do it cuz of checktoken
// const refresh = await fetch(`${URL}/refresh`, {
//   method: "GET",
//   headers: {
//     "Content-Type": "application/json",
//   },
//   credentials: "include",
// })
//   .then((res) => res.json())
//   .then((res) => {
//     console.log(res);
//   })
//   .catch((err) => console.error(err));

// fetch to login credenials
if(!Astro.cookies.has('token')){
  return Astro.redirect('/')
}
const token = Astro.cookies.get('token').value
let allImages;
const responseAllImages = await fetch(`${URL}/allImages`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    "Authorization": `Bearer ${token}`

  },

})
  .then((res) => res.json())
  .then((res) => {
    console.log(res);
    allImages = res;
  })
  .catch((err) => console.error(err));

// fetch all users
let allUsers;
const responseAllUsers = await fetch(`${URL}/allUsers`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
  },
  credentials: "include",
})
  .then((res) => res.json())
  .then((res) => {
    console.log(res);
    allUsers = res;
  })
  .catch((err) => console.error(err));
---

<General>
  <!-- lista de posts -->
  <ul class="w-10/12 mx-auto">
    {
      allImages.map((post) => (
        <li class=" h-[400px] flex flex-col justify-end my-7 bg-[#35373e] rounded-lg shadow-xl">
          <div class="flex-grow bg-red-500" />
          <div class="h-20 bg-yellow-400" >
            <h5>{allUsers.find((user) => user.id === post.userId).name}</h5>
            <p>{post.hashtags}</p>
          </div>
        </li>
      ))
    }
  </ul>


  <!-- nuevo post -->
  <!-- redirect to addPost -->
  <AddButton/>

</General>
